.wrapper {
    padding-top: 50px;
    background: #82ccbf;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    background-image: url("https://wallpaperscraft.com/image/space_background_blue_dots_73340_2048x2048.jpg");
    
  }
  