.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#game{
  margin-right: 4rem;

}
#message{
  margin-right: 6rem;
  margin-left: 20rem;
  color: white;

}
.score{
  margin-right: 2rem;
  margin-left: 16rem;
  color: white !important;
}
.score1{

  color: white !important;   
}